/* Layout */
html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Verdana;
    color: #484849;
    font-size: 1.2rem;
    background: #f9f9f9;
}

header {
    background: #ffffff;
    color: rgb(204, 0, 0);
    padding: 0.8rem 0;
    text-align: center;
}

main {
    width: 70%;
    margin: 1rem auto;
    background: #f1f1f1;
    border: 1px solid #d9d9d9;
    display: flex;
}

@media only screen and (max-width: 1000px) {
    main {
        width: 85%;
        flex-direction: column;
    }
}

/* List of playlists */
.playlists-list  {
    flex-basis: 25%;
    flex-grow: 1;
    background: #ffffff;
    font-size: 1rem;
}

.playlists-list a, .playlists-list a:visited {
    color: #484849;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    border-bottom: 1px solid #d9d9d9;
}

.playlists-list a:hover, .playlists-list a:active, .playlists-list a.active, .active-playlist {
    background: #bfbfbf;
}

/* Single Playlist */
.playlist {
    flex-basis: 0;
    flex-grow: 999;
    flex-direction: column;
    padding: 2rem;
}

.single-playlist {
    display: none;
}

.active {
    display: block;
}

.video {
    display: flex;
    margin: 5px 0;
    padding: 15px 0;
    border-bottom: 1px solid #d9d9d9;
}

.video:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

.video img {
    margin: 0 15px 0 0;
}

a, a:link, a:visited {
    color: #484849;
    text-decoration: none;
}

/* Headings */
h1 {
    margin: 0;
    font-weight: normal;
    font-size: 1.6rem;
}

h2 {
    font-weight: normal;
    font-size: 1.4rem;
    margin: 0 0 2rem 0;
}

h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

h4 {
    font-size: 1.05rem;
    font-weight: normal;
    margin: 0.5rem 0;
}

h1 span {
    font-weight: bold;
    color: #212121;
}
